/** 自定义 Element Plus 样式 */
// 分页
.el-pagination {
  // 参考 Bootstrap 的响应式设计 WIDTH = 768
  @media screen and (max-width: 768px) {
    .el-pagination__total,
    .el-pagination__sizes,
    .el-pagination__jump,
    .btn-prev,
    .btn-next {
      display: none !important;
    }
  }
}

/* 重置 el-table 的默认样式 */
.el-table {
  font-size: 14px; /* 设置表格字体大小 */
  color: #333; /* 设置表格文字颜色 */
}

/* 重置表头样式 */
.el-table .el-table__header th {
  background-color: var(--el-light-bg-color); /* 表头背景颜色 */
  color: #333; /* 表头文字颜色 */
  font-weight: bold; /* 表头字体加粗 */
  padding: 12px 0; /* 表头内边距 */
}

.el-table th.el-table__cell.is-leaf {
  background-color: var(--el-light-bg-color); /* 表头背景颜色 */
}

/* 重置单元格样式 */
.el-table .el-table__cell {
  padding: 12px 0; /* 单元格内边距 */
}

.el-button--small {
  font-size: 14px;
  height: 28px;
  padding: 2px 7px;
  border-radius: 4px;
}

.el-dialog {
  padding: 25px;
}

.el-scrollbar {
  background: var(--el-bg-color);
}